<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbers</title>
</head>
<body>
    <form 
        action="#"
        th:action="@{/generateForm}"
        th:object="${numbers}"
        method="POST"
        >
        <label for="number"><h1>How many numbers do you wish to generate?</h1></label>
        <input type="number" min="1" max="30" th:field="*{number}">
        <input type="submit" value="Generate" />
    </form>
</body>
</html>